[Unit]
Description=Change Board LED
After=network.target

[Service]
ExecStart=/userdata/code/GC2026/run_auto/change_board_led.sh
Type=simple
RemainAfterExit=true
User=root

[Install]
WantedBy=multi-user.target