[Unit]
Description=Run Main Auto Service
After=multi-user.target ttys3-permission.service gpio-setup.service
Requires=ttys3-permission.service gpio-setup.service

[Service]
Type=simple
ExecStart=/home/lckfb/.local/bin/uv run main
User=lckfb
WorkingDirectory=/userdata/code/GC2026
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target